body {
    overscroll-behavior: none;
}

::placeholder {
    text-transform: none;
}

.home-container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-button {
    width: 250px;
    margin: 10px;
    padding: 5px;
}

.service-container {
    margin: 10px;
}